/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent);
  transition: fill 0.3s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill);
  transition: fill 0.3s 0.06s;
}

@keyframes scale-heart {
  to {
    transform: scale(1.25);
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s;
}

@keyframes sparks-on {
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-on 0.3s ease-in 0.3s;
}

.contour {
  fill: var(--accent);
  transition: 0.1s;
}